<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.naman.youtube_white.bundle</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0E4BB785-561C-4CF5-90FD-F15D67A9C28D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E8C72BA-0CDC-43C8-9BDA-DF75B09A87EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1ACE0406-7AE0-44FE-B68F-8C0263CF3091</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3EA2A9EA-486B-4032-AC40-BC2936BAD2D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DBC5AB95-33BC-4D6B-8E05-34C171FC76F4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29759A59-989B-4FC3-A490-C53B86D591F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E4BB785-561C-4CF5-90FD-F15D67A9C28D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>3EA2A9EA-486B-4032-AC40-BC2936BAD2D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15E65EA5-068B-4A10-A190-7456D74A11F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E41F332-C926-4811-9B04-443B27A8ADF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DB0DA5F-2669-4FF7-9271-3803BDD79E52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1ACE0406-7AE0-44FE-B68F-8C0263CF3091</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E1BD2FDD-EC83-45F5-8262-C74225784F39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DBC5AB95-33BC-4D6B-8E05-34C171FC76F4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>29759A59-989B-4FC3-A490-C53B86D591F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E8C72BA-0CDC-43C8-9BDA-DF75B09A87EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15E65EA5-068B-4A10-A190-7456D74A11F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DB0DA5F-2669-4FF7-9271-3803BDD79E52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54276612-E655-4A53-ABCF-4F47B49061F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A751EE6F-D438-46EC-B370-4FC48936B301</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E41F332-C926-4811-9B04-443B27A8ADF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>BA6F5431-22DA-4BB8-BB7D-424649A103C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15E65EA5-068B-4A10-A190-7456D74A11F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A751EE6F-D438-46EC-B370-4FC48936B301</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Show video information</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>E1BD2FDD-EC83-45F5-8262-C74225784F39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0724D268-AF33-4442-BA9A-EC4D9710AAE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Naman</string>
	<key>description</key>
	<string>Search and play youtube videos without opening browser</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Youtube White</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export query="{query}"
export clean=$(echo $query | sed 's/https:\/\/i.ytimg.com\/vi\///' | sed 's/\/mqdefault.jpg//')

/usr/local/bin/tmux new -d -s youtube
/usr/local/bin/tmux send-keys -t youtube:0 "mpv $(echo 'https://www.youtube.com/watch?v='$clean)" ENTER</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>15E65EA5-068B-4A10-A190-7456D74A11F4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>yts</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>/usr/bin/python youtube.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search and play YouTube videos directly from alfred</string>
				<key>title</key>
				<string>YouTube</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BA6F5431-22DA-4BB8-BB7D-424649A103C5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export clean=$(echo "{query}" | sed 's/command\///')

/usr/local/bin/tmux new -d -s youtube
/usr/local/bin/tmux send-keys -t youtube:0 $clean ENTER</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>54276612-E655-4A53-ABCF-4F47B49061F5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>8DB0DA5F-2669-4FF7-9271-3803BDD79E52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>export clean=$(echo "{query}" | sed 's/recent_videos\///')

/usr/bin/python channel_recent_videos.py "$clean"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Loading...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5E8C72BA-0CDC-43C8-9BDA-DF75B09A87EF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export query="{query}"
export clean=$(echo $query | sed 's/https:\/\/i.ytimg.com\/vi\///' | sed 's/\/mqdefault.jpg//')

/usr/bin/python youtube_video_info.py "$clean"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Loading...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A751EE6F-D438-46EC-B370-4FC48936B301</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0724D268-AF33-4442-BA9A-EC4D9710AAE5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^command/</string>
						<key>outputlabel</key>
						<string>command</string>
						<key>uid</key>
						<string>1ACE0406-7AE0-44FE-B68F-8C0263CF3091</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^http</string>
						<key>outputlabel</key>
						<string>address</string>
						<key>uid</key>
						<string>DBC5AB95-33BC-4D6B-8E05-34C171FC76F4</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>channel</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4E41F332-C926-4811-9B04-443B27A8ADF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>E1BD2FDD-EC83-45F5-8262-C74225784F39</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>export clean=$(echo "{query}" | sed 's/popular_videos\///')

/usr/bin/python channel_popular_videos.py "$clean"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Loading...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3EA2A9EA-486B-4032-AC40-BC2936BAD2D3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>export clean="{query}"

/usr/bin/python youtube_channel_info.py "$clean"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Loading...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>29759A59-989B-4FC3-A490-C53B86D591F7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^recent_videos/</string>
						<key>outputlabel</key>
						<string>recent videos</string>
						<key>uid</key>
						<string>1ACE0406-7AE0-44FE-B68F-8C0263CF3091</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^popular_videos/</string>
						<key>outputlabel</key>
						<string>most popular</string>
						<key>uid</key>
						<string>DBC5AB95-33BC-4D6B-8E05-34C171FC76F4</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>-</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>0E4BB785-561C-4CF5-90FD-F15D67A9C28D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0724D268-AF33-4442-BA9A-EC4D9710AAE5</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>0E4BB785-561C-4CF5-90FD-F15D67A9C28D</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>15E65EA5-068B-4A10-A190-7456D74A11F4</key>
		<dict>
			<key>note</key>
			<string>- Gets the thumbnail url from the previous script
- Extracts the video id
- The the video in tmux session with mpv</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>29759A59-989B-4FC3-A490-C53B86D591F7</key>
		<dict>
			<key>note</key>
			<string>Channel info</string>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>3EA2A9EA-486B-4032-AC40-BC2936BAD2D3</key>
		<dict>
			<key>note</key>
			<string>listing popular videos here</string>
			<key>xpos</key>
			<integer>855</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>4E41F332-C926-4811-9B04-443B27A8ADF2</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>54276612-E655-4A53-ABCF-4F47B49061F5</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>5E8C72BA-0CDC-43C8-9BDA-DF75B09A87EF</key>
		<dict>
			<key>note</key>
			<string>listing recent videos here</string>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>8DB0DA5F-2669-4FF7-9271-3803BDD79E52</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>A751EE6F-D438-46EC-B370-4FC48936B301</key>
		<dict>
			<key>note</key>
			<string>Video info</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>BA6F5431-22DA-4BB8-BB7D-424649A103C5</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>E1BD2FDD-EC83-45F5-8262-C74225784F39</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/namanrjpt/youtube-white-alfred</string>
</dict>
</plist>
